<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>sistema-restaurante-jee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SucursalServlet</display-name>
    <servlet-name>SucursalServlet</servlet-name>
    <servlet-class>servlet.SucursalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucursalServlet</servlet-name>
    <url-pattern>/SucursalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SucursalServlets</display-name>
    <servlet-name>SucursalServlets</servlet-name>
    <servlet-class>servlet.SucursalServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucursalServlets</servlet-name>
    <url-pattern>/SucursalServlets</url-pattern>
  </servlet-mapping>
</web-app>